global:
  scrape_interval:     15s
  evaluation_interval: 15s

  external_labels:
      monitor: 'OCI-monitoring'

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
      
  - job_name: 'node'
    static_configs:
      - targets: ['infra_exporter_1:9100']
        
  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['cadvisor:8090']
        
